<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head th:replace="layout::head">
<meta charset="UTF-8">

</head>
<script type="text/javascript" th:src="@{/js/jsweb/Curso/frmMantCurso.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap-table/bootstrap-table.css}">
<script type="text/javascript" th:src="@{/js/bootstrap-table/bootstrap-table.js}"></script>
<body>
	<nav th:replace="layout::menu"></nav>
	<div class="card">
		<div class="card-header">Manteniento de cursos:</div>
		<div class="card-body">
			<button type="button" id="btnagregarcurso" class="btn btn-success">
			<i class="bi bi-plus-circle"></i> Agregar Curso</button>
			<div id="mensaje"></div>
			<table id="tblcurso" class="table table-hover"
			  data-toggle="table" data-pagination="true">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Curso</th>
						<th scope="col">Crédito</th>
						<th scope="col">Actualizar</th>
						<th scope="col">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="curso :${listcursos}">
						<td th:text="${curso.idcurso}"></td>
						<td th:text="${curso.nomcurso}"></td>
						<td th:text="${curso.credito}"></td>
						<td>
							<button type="button" class="btn btn-primary btnactualizarcurso"
								th:data-codcurso="${curso.idcurso}"
								th:data-nomcurso="${curso.nomcurso}"
								th:data-credcurso="${curso.credito}"><i class="bi bi-pencil-square"></i></button>
						</td>
						<td>
							<button type="button" class="btn btn-danger btneliminarcurso"
								th:data-codcurso="${curso.idcurso}"
								th:data-nomcurso="${curso.nomcurso}"><i class="bi bi-trash"></i></button>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Modal Nuevo Curso -->
	<div class="modal fade" id="modalcurso" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Registrar Curso</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="txtnomcurso" class="form-label">Ingrese el
							nombre del curso</label> <input type="text" class="form-control"
							id="txtnomcurso" maxlength="35"> <span id="errornomcurso"
							class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label for="txtcredcurso" class="form-label">Ingrese el
							crédito del curso</label> <input type="text" class="form-control"
							id="txtcredcurso" maxlength="2"> <span id="errorcredcurso"
							class="text-danger"></span>
					</div>
					<input type="hidden" id="hddidcurso" value="0">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" id="btnregistrarcurso" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Eliminar Curso -->
	<div class="modal fade" id="modaleliminarcurso" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Eliminar curso</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<label id="mensajeeliminar"></label>
					<input id="hddidcursoeliminar" type="hidden" value="0" >
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button id="btneliminarcurso" type="button" class="btn btn-danger">Eliminar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>