<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<thead>
		<tr>
			<th>Código</th>
			<th>Nombres</th>
			<th>Apellidos</th>
			<th>Email</th>
		</tr>		
	</thead>
	<tbody>
	<!-- Como hubiera sido con JSP 
	<% for(Participantes objParticipante: participantes){%>
		<tr>
			<td><%=objParticipante.getCodigo()%></td>
			<td><%=objParticipante.getNombre()%></td>
			<td><%=objParticipante.getApellidos()%></td>
			<td><%=objParticipante.getEmail()%></td>
		</tr>	
	<%}%>-->
		<tr th:each="participante :${participantes}">
			<td th:text="${participante.codigo}"></td>
			<td th:text="${participante.nombre}"></td>
			<td th:text="${participante.apellidos}"></td>
			<td th:text="${participante.email}"></td>
		</tr>
	</tbody>
</table>
</body>
</html>