<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script type="text/javascript" th:src="@{/js/jquery/jquery3.6.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
<link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet">
</head>
<body>
	<div class="card">
		<div class="card-header bg-primary text-white text-center">
			Featured</div>
		<div class="card-body">
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Email
					address</label> <input type="email" class="form-control"
					id="exampleFormControlInput1" placeholder="name@example.com">
			</div>
			<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">Example
					textarea</label>
				<textarea class="form-control" id="exampleFormControlTextarea1"
					rows="3"></textarea>
			</div>

		</div>
	</div>

</body>
</html>