<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script type="text/javascript" th:src="@{/js/jquery/jquery3.6.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
<script type="text/javascript"
	th:src="@{/js/jsweb/login.js}"></script>
<link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-lg">
				<div class="card">
					<div class="card-header bg-primary text-white text-center">
						AUTENTICACIÓN</div>
					<div class="card-body">
						<form id="frmlogin" th:action="@{/login}" method="post" th:object="${usuario}">
							<div class="mb-3">
								<label for="txtusuario" class="form-label">Usuario </label> <input
									type="text" class="form-control" id="txtusuario"
									placeholder="A001" th:field="*{nomusuario}">
									<span id="errorusuario" class="text-danger"></span>
							</div>
							<div class="mb-3">
								<label for="txtpassword" class="form-label">Password </label> <input
									type="password" class="form-control" id="txtpassword"
									th:field="*{passusuario}">
									<span id="errorpassword" class="text-danger"></span>
							</div>
							<div class="text-center">
								<button id="btnlogin" type="button" class="btn btn-primary">Ingresar</button>
							</div>
							<div class="text-center">
								No tienes cuenta registrate <a th:href="@{/registrar}">aquí</a>
							</div>							
							<div th:if="${visualizar}" class="alert alert-danger" role="alert">
								<span th:text="${mensajeerror} ?: ''"></span>
							</div>

						</form>

					</div>
				</div>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>



</body>
</html>