<!DOCTYPE html>
<html>
<head th:insert="layout::head">
<meta charset="UTF-8">
</head>
<script type="text/javascript" th:src="@{/js/jsweb/Alumno/frmListAlumno.js}"></script>
<body>
	<nav th:replace="layout::menu"></nav>
	<div class="card">
		<div class="card-header">Lista de alumnos</div>
		<div class="card-body">
			<div class="form-group">
				<label for="cboespecialidad">Especialidad</label> 
				<select id="cboespecialidad" class="form-select"
					aria-label="Default select example">
					<option selected value="0">Seleccione</option>
					<option th:each="especialidad :${listespecialidad}" 
						th:text="${especialidad.nomesp}" th:value="${especialidad.idesp}"></option>					
				</select>
			</div>
			<hr />
			<div id="tblalumno" class="row row-cols-1 row-cols-md-3"></div>
		</div>
	</div>
	<!-- Modal Notas por curso -->
	<div class="modal fade" id="modalcursosnota" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Curso Nota</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table id="tblcursonota" class="table">
						<thead>
							<tr>
								<th scope="col">Curso</th>
								<th scope="col">Crédito</th>
								<th scope="col">Exa.Parcial</th>
								<th scope="col">Exa.Final</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>					
				</div>
			</div>
		</div>
	</div>
</body>
</html>